body { background: #36baaf; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 47px; display: flex; }
.block-metrics-0 { color: #c48094; font-size: 12px; margin-bottom: 5px; }
.block-helper-1 { color: #76cac6; font-size: 21px; margin-bottom: 5px; }
.block-helper-2 { color: #b719d9; font-size: 12px; margin-bottom: 5px; }
.block-filter-3 { color: #782cb0; font-size: 17px; margin-bottom: 5px; }
.block-email-4 { color: #5705eb; font-size: 16px; margin-bottom: 5px; }
.block-shipping-5 { color: #d85be; font-size: 19px; margin-bottom: 5px; }
.block-config-6 { color: #dae96e; font-size: 13px; margin-bottom: 5px; }
.block-shipping-7 { color: #d4a2fc; font-size: 17px; margin-bottom: 5px; }
.block-helper-8 { color: #305309; font-size: 17px; margin-bottom: 5px; }